<h4>Shopping Cart</h4>

<div ng-if="cart.items.length == 0">
  <p>No giraffes found in your cart :(</p>
  <p><a ng-href="#/giraffes">Go and buy one! :)</a></p>
</div>

<div ng-if="cart.items.length > 0">
  <p>You have the following items in your cart:</p>
  <ul class="cart list">
    <li ng-repeat="item in cart.items track by $index">{{ item.name }}
      <span>{{ item.amount }} <button ng-click="cart.remove(item.id)">-</button><button ng-click="cart.add(item)">+</button></span>

    </li>
  </ul>

  <a class="checkout" ng-href="#/checkout">Checkout</a>
</div>
