<div ng-if="summary.items.length == 0">
  <p>No giraffes found in your cart :(</p>
  <p><a ng-href="#/giraffes">Go and buy one! :)</a></p>
</div>
<div ng-if="summary.items.length > 0">
  <p>Items you buy:</p>
  <ul class="summary list">
    <li ng-repeat="item in summary.items track by $index">{{ item.name }}
      <span>{{ item.amount }} ({{item.amount * item.price }})</span>
    </li>
  </ul>
  <p>Total: {{ summary.getTotalPrice() }}</p>

  <p><a ng-href="#/thankyou">Gimme those Giraffes!</a></p>
  <p><a ng-href="#/cart">Go back to shopping cart</a></p>


</div>


